<div class ="container">
  <div class ="row">
    <div class ="card col-10 my-5">
      <h4 class ="card-header">ログイン</h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class ="card-body col-10 offset-1 my-4 table table-borderless">
          <tr>
            <td><%= f.label "メールアドレス"%></td>
            <td>
              <div class ="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
              </div></td>
          </tr>
          <tr>
            <td> <%= f.label "パスワード" %></td>
            <td>
              <div class ="form-group">
                <%= f.password_field :password, autocomplete: "current-password" ,class: "form-control"%>
              </div></td>
          </tr>
        </table>
        <div class="text-center mb-3">
          <%= f.submit "Log in" , class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
