<h2>レシピ新規投稿</h2>

<%= form_with model: @recipe , url: "/recipes" ,local: true  do |f| %>

  <label>レシピ名</label><br />
  <%= f.text_field :title %><br />

  <label>タグ(複数タグを作る場合は)</label><br />
  <%= f.text_field :tag_name %><br />

  <label>レシピの特長</label><br />
  <%= f.text_area :feature %><br />

  <label>作り方</label><br />
  <%= f.text_area :making %><br />

  <label>公開設定</label><br />
  <%= f.radio_button :permit_user, true %><span>公開する</span>
  <%= f.radio_button :permit_user, false %><span>公開しない(下書き)</span><br />

  <%= f.submit "レシピを保存する" %>
<% end %>
