<% if @recipe.viewable? || @recipe.user_id == current_user.id %>
  <div class ="container">
    <div class ="row">
      <div class = "col-10 offset-2 py-3 my-3">
        <div class ="card shadow-sm col-12">
          <h4 class ="card-header bg-warning">
            <%= @recipe.title %>
          </h4>
          <%= image_tag @recipe.get_image, class: "card_img_top w-50 mx-auto" %>
          <h3 class ="card-header">この料理の特徴</h3>
          <p class ="card-body">
            <%= @recipe.feature %>
          </p>
          <h3 class ="card-header">作り方</h3>
          <p class ="card-body">
            <%= @recipe.making %>
          </p>
          <h3 class ="card-header">タグ一覧</h3>
          <p class ="card-body">
            <% @recipe_tags.each do |tag| %>
              <%= link_to tag.name, tag_path(tag.id) %>
            <% end %>
          </p>
          <div class='row mx-auto' id='favorite_btn_<%= @recipe.id%>'>
            <%= render '/user/favorites/favorite' %>
          </div>
          <% if @recipe.user_id == current_user.id && !current_user.guest_user? %>
            <%= link_to "編集する", edit_recipe_path(@recipe), class: "btn btn-primary mr-5 ml-auto" %>
          <% end %>
          <h4 class ="card-header mt-3">コメントを投稿する</h4>
          <% if current_user.guest_user? %>
            <div class ="card-body">
              <%= form_with model: [@recipe, @comment], url: recipe_comments_path(@recipe.id) do |f| %>
                <div class ="form-group" >
                  <%= f.text_area :comment_text, rows: 5, placeholder: "コメント機能を利用するには会員登録してください",disabled: true, class: "form-control" %>
                  <%= f.submit "投稿する" ,class: "btn btn-secondary", disabled: true  %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class ="card-body">
            <%= form_with model: [@recipe, @comment], url: recipe_comments_path(@recipe.id) do |f| %>
              <div class ="form-group" >
                <%= f.text_area :comment_text, rows: 5, placeholder: "コメントを入力", class: "form-control" %>
                <%= f.submit "投稿する" ,class: "btn btn-secondary"%>
              </div>
            <% end %>
          </div>
          <% end %>


        </div>
      </div>
    </div>
    <div class ="row">
      <div class ="col-10 offset-2">
        <h3><strong>コメント</strong></h3>
        <% if @comments.any? %>
          <% @comments.each do |comment| %>
            <div class ="card col-12 shadow-sm my-2">
              <div class ="card-body">
                <p><%= comment.user.name %>さん</p> <br>
                <p><%= comment.comment_text %></p>
                <div class ="text-right" >
                  <p><%= comment.created_at.strftime('%Y %m/%d %H:%M') %></p>
                  <% if comment.user == current_user %>
                    <%= link_to "削除","/recipes/#{@recipe.id}/comments/#{comment.id}", method: :delete ,class: "btn btn-danger",data: { confirm: "コメントを削除します。"} %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>コメントはありません</p>
        <% end %>
      </div>
    </div>
  </div>
<% else %>

  <div class ="container p-5">
    <div class ="row">
      <div class ="card col-12">
        <h4 class ="card-header">Sorry!</h4>
        <p class ="card-body">このレシピは投稿者または管理者により非表示にされています。</p>
        <%= link_to ">>レシピ一覧に戻る" , recipes_path ,class: "ml-auto my-5" %>
      </div>
    </div>
  </div>
<% end %>