<!DOCTYPE html>
<html>
  <head>
    <title>BeBetterRecipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="d-flex flex-column vh-150">
    <header class="shadow-sm mb-5">
      <nav class ="navbar navbar-expand-lg navbar-light">
        <div class ="container">
          <a class ="navbar-brand p-3" href="/">be better recipes</a>
          <button class ="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNabDropdown" aria-contorls ="navbarNavDropdown" aria-expanded="false" aria-label ="Toggle navigation">
            <span class ="navbar-toggler-icon"></span>
          </button>
          <div class ="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class ="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class ="nav-item"><%= link_to 'マイページ', mypages_path ,class: "nav-link text-dark" %></li>
                <li class ="nav-item"><%= link_to 'レシピ一覧', recipes_path ,class: "nav-link text-dark" %></li>
                <li class ="nav-item"><%= link_to 'tips', tips_about_diet_url ,class: "nav-link text-dark" %></li>
                <li class ="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class: "nav-link text-dark" %></li>
              <% elsif admin_signed_in? %>
                <li class ="nav-item"><%= link_to 'ユーザー一覧', admin_users_path ,class: "nav-link text-dark" %></li>
                <li class ="nav-item"><%= link_to 'レシピ一覧', admin_root_path ,class: "nav-link text-dark" %></li>
                <li class ="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete ,class: "nav-link text-dark" %></li>
              <% else %>
                <li class ="nav-item"><%= link_to "アバウト", "/about",class: "nav-link text-dark "%></li>
                <li class ="nav-item"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path,class: "nav-link text-dark " %></li>
                <li class ="nav-item"><%= link_to 'ログイン',user_session_path,class: "nav-link text-dark " %></li>
                <li class ="nav-item"><%= link_to '新規登録',new_user_registration_path ,class: "nav-link text-dark "%></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class ="container mb-3">
        <div class ="d-flex flex-row justify-content-end ">
            <% if user_signed_in? %>
              <p class ="text-secondary mr-3">ようこそ！<%= current_user.name %>さん</p>
              <div class ="search-form form-inline">
                <%= search_form_for @q, url: search_path do |f| %>
                  <%= f.search_field :title_or_feature_or_making_cont ,class: "form-control"%>
                  <%= f.submit "検索",class: "btn btn-secondary"%>
                <% end %>
              </div>
            <% elsif admin_signed_in? %>
              <p class ="text-secondary mr-3">管理人ログイン中</p>
              <div class ="search-form form-inline">
                <%= search_form_for @q, url: admin_recipe_search_path do |f| %>
                  <%= f.search_field :title_or_feature_or_making_cont ,class: "form-control"%>
                  <%= f.submit "検索",class: "btn btn-secondary"%>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </header>

    <div class ="row">
      <div class ="col-12">
        <div class ="text-center">
          <% flash.each do |message_type, message| %>
          　<div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
      </div>
    </div>



    <%= yield %>
  </body>
  <footer class ="bg-dark text-white pt-5 pb-4 mt-5">
    <div class = "container">
      <div class = "row no-gutters">
        <div class = "col-12">
          <div class ="text-center">
            <p>Be Better Recipes ～健康かつ開放された食生活を～</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>
